@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
   
font-family: 'Quicksand', sans-serif;
}


.bg-img{
background-image: url(./Components/Imgs/Rectangle1.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
    
}